body {
    background: #fefefe;
    color: #333;
}

.main {    
    max-width: 700px;
    margin: 32px auto;
    padding-top: 50px;
    width: 100%;
}

.navigation {
    background: #fff;
    box-sizing: border-box;
    position: fixed;    
    top: 0;
    left: 0;    
    padding: 16px;    
    width: 100%;
}

.navigation__link {
    color: #1A936F;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #1A936F;
    text-decoration: none;
}

.header {
    color: #00487C;
}

.diary {
    clear: left;
}

.diary__title, .day__title {
    margin: 0 0 16px;
    color: #0496FF;
}

.day {
    padding: 16px;
}

.day__paragraph {
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.diary__header {
    margin: 0;
    color: #0496FF;
}

.day__title--sunday {
    color: darkred;
}

.about {
    position: relative;
}

.about__header, .diary__header {
    color: #1460AA;
}

.about__paragraph {
    padding: 0 0 0 16px;
    overflow: hidden;
}

.about__paragraph--color {
    color: #FF6700;
}

.about__picture {
    width: 100%;
    max-width: 100px;
    display: block;
    float: left;
    margin: 0 16px 16px 0;
}

.about__link, .diary__link {
    color: #1A936F;
}

.box {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
.hobby {

}

.hobby__list {
    list-style: none;
    padding: 0;
}